.profile {
  text-align: center;
  user-select: none;
  white-space: nowrap;
  // background-color: pink;
  // 数值
  height: 60px;
  line-height: 60px;


  img {
    object-fit: cover;
    vertical-align: middle;
    // 数值
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  span {
    margin-left: 10px;
    font-size: 24px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    float: left;
    height: 12vw;
    line-height: 12vw;

    img {
      width: 8vw;
      height: 8vw;
    }

    span {
      margin-left: 1.3333vw;
      font-size: 4.8vw;
      vertical-align: none;
      display: inline-block !important;
    }
  }
}