.search {
  background-color: #ede3e7;
  box-sizing: border-box;

  // 数值
  width: 100%;
  padding: 10px;

  .btn {
    display: inline-block;
    background-color: #2775b6;
    color: #fff;
    cursor: pointer;
    user-select: none;
    // 数值
    padding: 8px;
    border-radius: 3px;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

@media screen and (max-width: 800px) {
  .search {
    padding: 1.3333vw;

    .btn {
      font-size: 3.7333vw;
      border-radius: .5333vw;
      padding: 1.3333vw;

      &:hover {
        filter: none;
      }
    }
  }
}