.header {
  overflow: hidden;
  // 数值
  line-height: 60px;

  .profile {
    display: none;
  }

  .left {
    float: left;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;

    &>span {
      // 数值
      font-size: 24px;
      margin-right: 10px;
    } 

    div {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }

  .right {
    margin-right: 10px;
    float: right;
    cursor: pointer;
    user-select: none;
  }
}

@media screen and (max-width: 800px) {
  .header {
    line-height: 12vw;

    .profile {
      margin-left: 1.3333vw;
      display: block;
    }

    .left {
      display: none;
    }

    .right {
      font-size: 4vw;
      margin-right: 1.3333vw;
    }
  }
  
}