.home {
  display: flex;
  height: 100vh;

  .aside {
    background-color: pink;
    // 数值
    width: 240px;
    transition: all .5s ease-in;
  }

  .main {
    overflow-y: auto;
    flex: 1;
    background-color: #999;

    .header {
      position: sticky;
      top: 0;
      background-image: linear-gradient(180deg, #c6dfc8, #c7d2d4);
      // 数值
      height: 60px;
    }
    
    .tab {
      display: none;
    }

    .content {
      background-image:linear-gradient(90deg,#e6d2d5,#f0c9cf,#f1c4cd);
      // 数值
      height: 2000px;
    }
  }
}

@media screen and (max-width: 800px) {
  .home {

    .aside {
      display: none;
    }

    .main {

      .header {
        position: static;
        height: 12vw;
      }

      .tab {
        background-color:#e5e5e5;
        position: sticky;
        top: 0;
        display: flex;
        height: 10.6667vw;
      }

      .content {
        height: 2000px;
      }
    }
  }
}