.home {
  display: flex;
  height: 100vh;

  .aside {
    // overflow-y: scroll;
    background-color: pink;
    // 数值
    width: 240px;
    // height: 1000px;
  }

  .main {
    overflow-y: auto;
    flex: 1;
    background-color: #999;

    .header {
      position: sticky;
      top: 0;
      background-color: rgb(79, 209, 79);
      // 数值
      height: 60px;
    }
    
    .tab {
      display: none;
    }

    .content {
      background-color: rgb(231, 234, 156);
      // 数值
      // height: calc(100% - 60px);
      height: 2000px;
    }
  }
}

@media screen and (max-width: 800px) {
  .home {

    .aside {
      display: none;
    }

    .main {

      .header {
        position: static;
        height: 12vw;
      }

      .tab {
        background-color: rgb(64, 147, 235);
        position: sticky;
        top: 0;
        display: flex;
        height: 40px;
      }

      .content {
        height: 2000px;
      }
    }
  }
}