@import "../fonts/iconfont.css";
@import "./reset.scss";

body {
  margin: 0;
  font-family: "宋体";
  background-color: #f5f5f5;
}

// 弹出框样式
.messageBox {
  white-space: nowrap;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  font-family: "楷体";
  // 数值
  padding: 10px;
  top: 20px;
  font-size: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .messageBox {
    padding: 2.6667vw;
    top: 5.3333vw;
    font-size: 5.3333vw;
    border-radius: 1.3333vw;
  }
}

// 隐藏
.hidden {
  display: none !important;
}

// 限制宽度
.limit-width {
  width: 100px !important;
}


// pc端滚动条样式
// .scroll-bar-pc {
//   &::-webkit-scrollbar {
//     width: 5px;
//     height: 0;
//     background-color: #ede3e7;
//   }
//   // 滚动条里面的小方块
//   &::-webkit-scrollbar-thumb {
//     background-color: #3a403e;
//     border-radius: 5px;
//   }
// }

// dialog组件中表单不生效（提升到全局）
.dialog-form {
  // 数值
  font-size: 16px;

  .name {
    // 数值
    margin-bottom: 10px;
  }

  &>div>input {
    box-sizing: border-box;
    vertical-align: bottom;
    // 数值
    border-radius: 10px;
    text-indent: 5px;
    width: 60%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .dialog-form {
    font-size: 3.7333vw;
    
    .name {
      margin-bottom: 2.1333vw;
    }

    &>div>input {
      // 能够适配到199px宽度设备
      border-radius: 2.1333vw;
      text-align: .5333vw;
      font-size: 3.7333vw;
      margin-left: 1.8667vw;
    }
  }
}