.dialog-form {
  // 数值
  font-size: 16px;

  .name {
    // 数值
    margin-bottom: 10px;
  }

  &>div>input {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #999;
    color: #666;
    vertical-align: bottom;
    // 数值
    border-radius: 10px;
    text-indent: 5px;
    width: 60%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .dialog-form {
    font-size: 3.7333vw;
    
    .name {
      margin-bottom: 2.1333vw;
    }

    &>div>input {
      // 能够适配到199px宽度设备
      border-width: .2667vw;
      border-radius: 2.1333vw;
      text-align: .5333vw;
      font-size: 3.7333vw;
      margin-left: 1.8667vw;
    }
  }
}